.App {
  font-family: sans-serif;
  text-align: center;
}

.fill {
  min-height: 100%;
  height: 100%;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  align-content: center;
  width: 100%;
}

th {
  background-color: rgb(189, 189, 184);
  justify-content: center;
  align-content: center;
}

th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
  justify-content: center;
  align-content: center;
}

.card {
  align-content: center;
  padding-top: 0px;
}

.card-header {
  color: black;
  text-align: center;
  font-size: 30px;
  padding-top: 0px;
}

.card-body {
  border-style: double;
  text-align: center;
}

.card-title {
  text-align: center;
  font-size: 20px;
}

.form {
  background-color: #d8e0e4;
  align-content: center;
  text-align: center;
}

input[type="text"] {
  width: 75%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  align-content: center;
}

.label {
  width: 75%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  align-content: center;
  background-color: #f3f7f7;
  text-align: left;
  font-family: sans-serif;
}

.btn {
  width: 50%;
  background-color: #089add;
  color: white;
  padding: 14px 15px;
  margin: 8px 0px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-content: center;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

div {
  padding: 20px;
}
